/* .App {
  text-align: center;
} */

.App-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.customerForm {
  text-align: left;
}



.customerInfo {
  text-align: left;
}

/* .cartTotal {
  position: relative;
  left: 43%;
} */

/* .pizzaTable {
  text-align: center;
} */

