.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.customerForm {
  text-align: left;
}



.customerInfo {
  text-align: left;
}

/* .pizzaTable {
  text-align: center;
} */

